.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%; 
}

.team-members-section {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.image-container {
  display: flex;
  justify-content: center; 
  align-items: center;
  overflow: hidden; 
  width: calc(100% - 100px); 
  position: relative;
}

.member {
  text-align: center;
  margin: 0 10px; 
}

.image-container img {
  /* border-radius: 8px;  */
  height: auto;
}

.large {
  width: 20vw; 
  height: auto;
}

.medium {
  width: 15vw; 
  height: auto; 
}

.small {
  width: 10vw; 
  height: auto; 
}

.carousel-button {
  background-color: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
  padding: 10px;
  z-index: 1; 
  position: absolute; 
}

.carousel-button.left {
  left: 10px; 
}

.carousel-button.right {
  right: 10px; 
}

.middle-title {
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}

/* Large screens: Show 5 images */
@media (min-width: 769px) {
  .image-container {
    justify-content: center;
  }

  .large {
      width: 20vw; 
  }

  .medium {
      width: 15vw; 
  }

  .small {
      width: 10vw; 
  }
}

/* Small screens: Show 3 images */
@media (max-width: 768px) {
  .image-container {
    justify-content: center; 
    width: 100%;
  }

  .carousel-button.left {
    left: 0px; 
  }
  
  .carousel-button.right {
    right: 0px; 
  }

  .large {
    width: 30vw; 
  }

  .medium {
    width: 22vw; 
  }

  .small {
    display: none; 
  }
}

@media (min-width: 1024px) {
  .carousel-button.left {
    left: 8vw; 
  }
  
  .carousel-button.right {
    right: 8vw; 
  }
}
