.slider-container {
  width: 100%;
  height: 40vh; /* Optional: adjust based on design */
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: flex-end; /* Align content to the bottom */
  color: #fff; /* Text color */
}

.slide-content {
  /* background: rgba(0, 0, 0, 0.5); */
  padding: 20px;
  text-align: center;
}

.slide-content h2 {
  font-size: 2rem;
  margin: 0;
}

.slide-content p {
  margin: 10px 0;
}

.slide-content a {
  background: #fff;
  color: #000;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
}