.text-white {
    color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
    background-color: white;
    z-index: 10;
    position: relative;
    background-color: none;
}

.logo-section {
    display: flex;
    align-items: center;
}

.logo {
    height: 60px;
    margin-right: 10px;
    /* margin-left: 80px; */
    margin-left: 5.9vw;
}

.logo-name {
    font-size: 20px;
}

.nav-items {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.nav-item {
    margin: 0 15px;
    color: black;
    cursor: pointer;
    position: relative;
}

.nav-item.active {
    color: #097F98;
}

.nav-item.active::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 0;
    height: 4px;
    background-color: #097F98;
    border-radius: 10px;
}

.hamburger-container {
    margin-right: 10px;
}

.hamburger {
    border: none;
    background-color: white;
    font-size: 22px;
}

/* Style for the hamburger menu */
.hamburger-menu {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    opacity: 0.8;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    border-radius: 4px;
    margin-top: 3px;
    margin-right: 8px;
    width: 31vw;
    display: flex;
    flex-direction: column;
}

/* Style for individual menu items */
.hamburger-menu-item {
    padding: 10px 15px;
    cursor: pointer;
}

.hamburger-menu-item:hover {
    background-color: #f0f0f0;
}

.hamburger-menu-item.active {
    color: #097F98; 
}

@media (max-width: 768px) {
    .logo {
        height: 45px;
    }
}

@media (max-width: 256px) {
    .logo {
        height: auto;
        width: 10vw;
    }

    .logo-name {
        font-size: 8vw;
    }

    .hamburger {
        font-size: 8vw;
    }
}