:root {
  --blockweb-blue: #097F98;
  --reginal-background: #4C4C4C;
  --black: #000;
  --white: #fff;
  --gray: #cacaca;
}

@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&subset=latin,latin-ext");

*{
  /* list-style:none; */
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Rubik', sans-serif;
  /* font-family: "Roboto", "Noto", "Helvetica Neue", "Helvetica", "Arial", sans-serif; */
}

.font-bold {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.font-semi-bold {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.font-regular {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.font-medium {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}