@import url(../../index.css);

* {
    font-family: 'Rubik', sans-serif !important;
}

.banner-section {
  background-image: url("../images/NairobiSkyLine.jpg");
  background-size: cover;
  /* background-position: center; */
  height: 100vh;
  text-align: center;
  padding: 10px 0px;
  position: relative;
}

.banner-section::before {
  content: "";
  position: absolute; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; 
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.infoBanner {
    z-index: 10;
    position: relative;
    background-color: none;
}

.custom-paper {
    background-color: none;
    padding: '10px';
    text-align: 'center';
    color: white;
}

.home-content {
    position: absolute; 
    top: 50%;
    left: 7vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: white;
    z-index: 10;
    max-width: 650px;
    text-align: left;
    gap: 30px;
}

.home-title {
    font-size: 48px;
    margin: 0;
    max-width: 500px;
}

.home-description {
    font-size: 18px;
    margin: 0;
}

.explore-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(9, 127, 152, 0.4);
    border: 2px solid #097F98;
    padding: 10px;
    border-radius: 30px;
    min-width: 150px;
    min-height: 50px;
}

.explore-button:hover {
    background: rgba(9, 127, 152);
}

.services-section {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    height: 100vh; /* Take full height */
    padding: 16px; /* Adjust padding as needed */
}

.title-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #097F98;
}

.services-semi-title {
    font-size: 24px;
}

.services-title {
    font-size: 40px;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    max-width: 1200px; 
}

.grid-item {
    position: relative;
    width: calc(33.33% - 70px); 
    margin: 10px; 
    overflow: hidden;
    aspect-ratio: 0.85; 
    transition: transform 0.3s;
    border-radius: 16px;
}

.grid-item:hover {
    transform: scale(1.05);
}

.item-image {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

/* Dark overlay */
.grid-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.6) 0%,
        rgba(0, 4, 5, 0.6) 20%,
        rgba(0, 11, 14, 0.5) 36%,
        rgba(0, 28, 35, 0.5) 53%,
        rgba(0, 110, 135, 1) 100% 
    );
    z-index: 1;
}

.item-info {
    position: absolute; 
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    /* background: rgba(0, 0, 0, 0.6); */
    color: white;
    /* text-align: center; */
    z-index: 2;
}

.item-title {
    margin: 0;
    font-size: 1.2rem;
}

.item-description {
    margin: 15px 0 0; 
    font-size: 0.9rem; 
}

.regional-experience {
    padding: 20px;
    background-color: #4C4C4C;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.countries-title {
    font-size: 40px;
    /* max-width: 300px; */
    flex: 0 0 40%; 
    text-align: center;
}

.experience-header {
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.countries-list {
    flex: 0 0 60%;
    display: flex; 
    justify-content: space-evenly;
    overflow-x: auto; 
    margin-top: 10px; 
}

.country-item {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    margin-right: 15px; 
}

.country-image {
    width: 80px; 
    height: 80px; 
    /* object-fit: cover;  */
}

.country-name {
    margin-top: 5px; 
    text-align: center;
}

@media (min-width: 800px) and (max-width: 1024px) {
    .grid-item {
        width: 30%;
    }
    .regional-experience {
        display: block;
    }
    .countries-title {
        flex: auto;
    }
}

@media (min-width: 601px) and (max-width: 800px) {
    .grid-item {
        width: 300px;
    }
    .regional-experience {
        display: block;
    }
    .countries-title {
        flex: auto;
    }
}

@media (max-width: 600px) {
    .grid-item {
        width: 60vw;
        margin: 5px 0; 
    }
    .regional-experience {
        display: block;
    }
    .countries-title {
        flex: auto;
    }
    .countries-list {
        flex-wrap: wrap;
    }
}

@media (max-width: 900px) {
    .banner-section {
        padding: 0;
    }
}

@media (max-width: 768px) {
    .banner-section::before {
        background-color: rgba(0, 0, 0, 0.6);
    }
      
    .home-title {
        font-size: 36px;
        max-width: 350px;
    }

    .home-description {
        font-size: 16px;
        line-height: 1.3;
    }

    .home-content {
        left: auto;
        bottom: 30px;
        transform: none; 
        display: flex; 
        justify-content: center;
        height: auto;
        gap: 20px;
        z-index: 10;
        margin: 7vw;
    }
}
