@import url(../../index.css);

* {
  font-family: "Rubik", sans-serif !important;
}

.banner-section {
  background-image: url("../images/NairobiSkyLine.jpg");
  background-size: cover;
  /* background-position: center; */
  height: 100vh;
  text-align: center;
  padding: 10px 0px;
  position: relative;
}

.banner-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.infoBanner {
  z-index: 10;
  position: relative;
  background-color: none;
}

.custom-paper {
  background-color: none;
  padding: "10px";
  text-align: "center";
  color: white;
}

.home-content {
  position: absolute;
  top: 50%;
  left: 7vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: white;
  z-index: 10;
  max-width: 650px;
  text-align: left;
  gap: 30px;
}

.home-title {
  font-size: 48px;
  margin: 0;
  max-width: 500px;
}

.home-description {
  font-size: 18px;
  margin: 0;
}

.explore-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(9, 127, 152, 0.4);
  border: 2px solid #097f98;
  padding: 10px;
  border-radius: 30px;
  min-width: 150px;
  min-height: 50px;
}

.explore-button:hover {
  background: rgba(9, 127, 152);
}

.services-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  padding: 16px 0;
}

.title-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #097f98;
}

.services-semi-title {
  font-size: 24px;
}

.services-title {
  font-size: 40px;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  max-width: 1200px;
}

.grid-item {
  position: relative;
  width: calc(33.33% - 70px);
  margin: 10px;
  overflow: hidden;
  aspect-ratio: 0.85;
  transition: transform 0.3s;
  border-radius: 16px;
}

.grid-item:hover {
  transform: scale(1.05);
}

.item-image {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

/* Dark overlay */
.grid-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.6) 0%,
    rgba(0, 4, 5, 0.6) 20%,
    rgba(0, 11, 14, 0.5) 36%,
    rgba(0, 28, 35, 0.5) 53%,
    rgba(0, 110, 135, 1) 100%
  );
  z-index: 1;
}

.item-info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  /* background: rgba(0, 0, 0, 0.6); */
  color: white;
  /* text-align: center; */
  z-index: 2;
}

.item-title {
  margin: 0;
  font-size: 1.2rem;
}

.item-description {
  margin: 15px 0 0;
  font-size: 0.9rem;
}

.regional-experience {
  padding: 20px;
  background-color: #4c4c4c;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.countries-title {
  font-size: 40px;
  /* max-width: 300px; */
  flex: 0 0 40%;
  text-align: center;
}

.experience-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.countries-list {
  flex: 0 0 60%;
  display: flex;
  justify-content: space-evenly;
  overflow-x: auto;
  margin-top: 10px;
}

.country-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 15px;
}

.country-image {
  width: 80px;
  height: 80px;
  /* object-fit: cover;  */
}

.country-name {
  margin-top: 5px;
  text-align: center;
}

/* ContactForm.css */

/* Form container */
.form-container {
  width: 100%;
  max-width: 600px;
  background-color: #fff;
  border: 1px solid #ccc;
  /* padding: 20px; */
  box-sizing: border-box;
  margin: 20px auto; /* Centers the form within the page */
  /* min-height: 70vh; */
}

/* Heading section */
.heading-section {
  background-color: #097f98;
  color: white;
  text-align: center;
  padding: 20px;
  margin-bottom: 20px;
}

.heading-section h1 {
  margin: 0;
}

.heading-section p {
  /* margin: 0;
    font-size: 1.1em; */
  font-size: 14px;
}

/* Form styling */
.contact-form {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

/* Input field styling */
.form-field {
  margin-bottom: 15px;
  padding: 10px;
  font-size: 1em;
  border: 1px solid rgba(9, 127, 152, 0.5);
  border-radius: 8px;
  box-sizing: border-box;
}

.form-field::placeholder {
  color: #000;
}

/* Submit button styling */
.submit-button {
  padding: 10px;
  background-color: #ccc;
  color: black;
  border: none;
  cursor: pointer;
  font-size: 1em;
  border-radius: 8px;
  align-self: center;
}

.submit-button:hover {
  background-color: #097f98;
  color: white;
}

/* Footer.css */

/* Footer container */
.footer-container {
  background-color: #4c4c4c;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  bottom: 0;
  margin-top: 50px;
}

/* Footer content (flex container for copyright and social media) */
.footer-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px; /* Maximum width for large screens */
  align-items: center;
}

/* Copyright section */
.copyright p {
  margin: 0;
  font-size: 14px;
}

/* Social media section */
.social-media {
  display: flex;
  gap: 15px; /* Adds space between social icons */
}

/* Social media icons */
.social-icon {
  width: 25px;
  height: 25px;
  object-fit: contain;
}

/* Hover effect for icons */
.social-icon:hover {
  opacity: 0.7;
}

/* ScrollToTop.css */

/* Style the "Up" arrow span */
.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    /* font-size: 24px; */
    border: 2px solid black;  /* Black border */
    color: black;  /* Arrow color */
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: opacity 0.3s ease;
    opacity: 0.7;
    aspect-ratio: 1;
    z-index: 9999;
}

.scroll-to-top:hover {
    opacity: 1;  /* Make it more visible on hover */
}

.scroll-to-top:focus {
    outline: none;  /* Remove focus outline */
}

/* Hide the arrow when it's not visible */
/* .scroll-to-top {
    visibility: hidden;
    opacity: 0;
} */

/* Show the arrow when it's visible */
.scroll-to-top.show {
    visibility: visible;
    opacity: 1;
}

@media (min-width: 800px) and (max-width: 1024px) {
  .grid-item {
    width: 30%;
  }
  .regional-experience {
    display: block;
  }
  .countries-title {
    flex: auto;
  }
}

@media (min-width: 601px) and (max-width: 800px) {
  .grid-item {
    width: 300px;
  }
  .regional-experience {
    display: block;
  }
  .countries-title {
    flex: auto;
  }
}

@media (max-width: 600px) {
  .grid-item {
    width: 60vw;
    margin: 5px 0;
  }
  .regional-experience {
    display: block;
  }
  .countries-title {
    flex: auto;
  }
  .countries-list {
    flex-wrap: wrap;
  }
}

@media (max-width: 900px) {
  .banner-section {
    padding: 0;
  }
}

@media (max-width: 768px) {
  .banner-section::before {
    background-color: rgba(0, 0, 0, 0.6);
  }

  .home-title {
    font-size: 36px;
    max-width: 350px;
  }

  .home-description {
    font-size: 16px;
    line-height: 1.3;
  }

  .home-content {
    left: auto;
    bottom: 30px;
    transform: none;
    display: flex;
    justify-content: center;
    height: auto;
    gap: 20px;
    z-index: 10;
    margin: 7vw;
  }

  .services-section {
    padding: 16px 0;
  }

  .heading-section h1 {
    font-size: 1.5em;
  }
  .form-field {
    font-size: 0.9em;
  }
  .submit-button {
    font-size: 0.9em;
  }
  .footer-content {
    flex-direction: column;
    align-items: center;
  }

  .social-media {
    margin-top: 10px;
  }

  .social-icon {
    width: 25px;
    height: 25px;
  }

  .copyright p {
    font-size: 12px;
    text-align: center;
  }
}

@media (max-width: 600px) {
  .form-container {
    /* padding: 15px; */
    margin: 10px;
    width: auto;
  }
}

@media (max-width: 800px) {
  .services-section {
    height: auto;
  }
}

/* 
@media (max-width: 1024px) {

} */

@media (max-width: 430px) {
    .grid-item {
        width: 80vw;
    }

    .services-card-title {
        font-size: 6vw; 
    }

    .services-card-description {
        font-size: 3.5vw;
    }
}

/* Extremely small screens */
@media (max-width: 256px) {
    .services-title {
        font-size: 12vw;
    }

    .services-semi-title {
        font-size: 8vw;
    }

    .home-title {
        font-size: 15vw;
    }
    
    .home-description {
        font-size: 5vw;
        padding-right: 10px;
    }

    .explore-button {
        width: 45vw;
        height: auto;
        min-width: auto;
        border-radius: 12vw;
    }

    .explore-text {
        font-size: 6vw !important;
    }

    .arrow-icon {
        width: 8vw;
        height: auto;
    }

    .countries-title {
        font-size: 12vw;
    }

    .country-image {
        width: 20vw;
        height: 20vw;
    }

    .country-item {
        margin: 0;
    }

    .country-name {
        font-size: 8vw;
    }

    .countries-list {
        flex-direction: column;
    }

    .form-title {
        font-size: 10vw !important;
    }

    .form-sub-title {
        font-size: 5vw !important;
    }

    .form-field::placeholder {
        font-size: 5vw !important;
    }

    .submit-button {
        font-size: 8vw !important;
    }

    .social-icon {
        width: 10vw;
        height: 10vw;
    }
}
